/* Stil za navigacijsku traku */
nav {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  nav a:hover {
    background-color: #333;
    color: #fff;
  }
  
  /* Stil za glavni naslov */
  h1 {
    color: #333;
  }
  
  /* Ostali stilovi za ostatak stranice */
  